%div.sessions_index
  .container
    .row
      .col-md-6.offset-md-3.login-container
        %h1.text-center Login
        %form(action="/login" method="post")
          .form-group
            %label(for="username") Username:
            %input.form-control(type="text" name="username" required)

          .form-group
            %label(for="password") Password:
            %input.form-control(type="password" name="password" required)

          %button.btn.btn-primary(type="submit") Login

