- content_for :head do
  = javascript_import_module_tag "sessionsLanding"
= stylesheet_link_tag "sessions.landing", "data-turbo-track": "reload"
.container.treed_form.sessions_landing
  .row
    .col-md-6.text-center
      %h1 Inventario
    .col-md-6.text-center
      %h1 Grupos
  .row
    .col-md-12.text-center
      %h1 Levantar pedido

