// header.css

.header{
	padding-top: .5em;
	padding-bottom: .5em;
	.navbar{
	  	background-color: #f8f9fa;
		.shadow{
			box-shadow: 0px 10px 20px -1px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0px 10px 20px -1px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 10px 20px -1px rgba(0,0,0,0.5);
		}
	}
}

