// sessions.index.css

.sessions_index{
        color: #495057;
        font-family: 'Arial', sans-serif;
        padding-top: 5rem;
        padding-bottom: 5rem;
	width:80%;
	.btn-primary{
		width:30%;
		margin-top: 20px;
	}
}
